<div class='mapbox-directions-component mapbox-directions-inputs'>
    <div class='mapbox-directions-component-keyline' id='mapbox-directions-form-area'>
        <div class='mapbox-directions-origin'>
            <label class='mapbox-form-label'>
                <span class='directions-icon directions-icon-depart'></span>
            </label>
            <div id='mapbox-directions-origin-input'></div>
        </div>

        <button
            class='directions-icon directions-icon-reverse directions-reverse js-reverse-inputs'
            title='Reverse origin &amp; destination'>
        </button>

        <div class='mapbox-directions-destination'>
            <label class='mapbox-form-label'>
                <span class='directions-icon directions-icon-arrive'></span>
            </label>
            <div id='mapbox-directions-destination-input'></div>
        </div>
    </div>

    <% if (controls.profileSwitcher) { %>
    <div id="directions-profile" class='mapbox-directions-profile mapbox-directions-component-keyline mapbox-directions-clearfix'>
        <!-- Mapbox -->
        <% if(supports.includes('mapbox/driving-traffic')) {%>
            <input
                id='mapbox-directions-profile-driving-traffic'
                type='radio'
                name='profile'
                value='mapbox/driving-traffic'
                <% if (profile === 'mapbox/driving-traffic') { %>checked<% } %>
            />

            <label for="mapbox-directions-profile-driving-traffic" style='font-size: 16px; height: 36px; text-align: center; display: flex; align-items: center; justify-content: center;'>
                <i class='fa fa-subway' aria-hidden='true' style='font-size: 16px; height: 36px; text-align: center; display: flex; align-items: center; justify-content: center;'></i>
            </label>
        <% } %>

        <% if(supports.includes('mapbox/driving')) {%>
            <input
                id='mapbox-directions-profile-driving'
                type='radio'
                name='profile'
                value='mapbox/driving'
                <% if (profile === 'mapbox/driving') { %>checked<% } %>
            />

            <label for='mapbox-directions-profile-driving' style='font-size: 16px; height: 36px; text-align: center; display: flex; align-items: center; justify-content: center;'>
                <i class='fa fa-car' aria-hidden='true'></i>
            </label>
        <% } %>

        <% if(supports.includes('mapbox/walking')) {%>
            <input
                id='mapbox-directions-profile-walking'
                type='radio'
                name='profile'
                value='mapbox/walking'
                <% if (profile === 'mapbox/walking') { %>checked<% } %>
            />

            <label for='mapbox-directions-profile-walking' style='height: 36px; text-align: center; display: flex; align-items: center; justify-content: center;'>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style='width: 22px; fill: #0071bc;'>
                    <path
                        d="M288 112c22.223 0 39.997-17.776 39.997-40 0-22.225-17.774-40-39.997-40s-40.003 17.775-40.003 40c0 22.224 17.78 40 40.003 40zM288 232h104v-40h-72l-44.802-69.333c-7.698-11.667-18.136-18.136-30.933-18.136-3.198 0-8.828.531-12.799 1.747L120 144v112h40v-80l40.531-16L120 480h40l56.698-164.271L267 384v96h38V352l-57.031-96 19.745-61.864L288 232z"></path>
                </svg>
            </label>
        <% } %>

        <% if(supports.includes('mapbox/cycling')) {%>
            <input
                id='mapbox-directions-profile-cycling'
                type='radio'
                name='profile'
                value='mapbox/cycling'
                <% if (profile === 'mapbox/cycling') { %>checked<% } %>
            />

            <label for='mapbox-directions-profile-cycling' style='height: 36px; text-align: center; display: flex; align-items: center; justify-content: center;'>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style='width: 24px; fill: #0071bc;'>
                    <path
                        d="M330.666 131.202c18.668 0 33.598-14.935 33.598-33.601S349.334 64 330.666 64C312 64 297.07 78.935 297.07 97.601s14.93 33.601 33.596 33.601zm56 130.132c-51.332 0-93.332 42-93.332 93.333s42 93.333 93.332 93.333C438 448 480 406 480 354.667s-42-93.333-93.334-93.333zm0 158.666c-36.402 0-65.332-28.93-65.332-65.333s28.93-65.333 65.332-65.333c36.404 0 65.334 28.93 65.334 65.333S423.07 420 386.666 420zm-81.069-196H384v-32h-58.845l-34.62-60.134c-5.605-9.333-15.869-15.864-27.07-15.864-8.399 0-16.798 3.732-22.399 9.333L169.334 194.4c-5.601 5.601-9.333 14-9.333 22.399 0 12.131 9.202 21.465 18.535 27.065L240 282.134V368h32V256l-39.333-32 42.929-44.533L305.597 224zm-180.264 37.334C74 261.334 32 303.334 32 354.667S74 448 125.333 448s93.333-42 93.333-93.333-41.999-93.333-93.333-93.333zm0 158.666C88.934 420 60 391.07 60 354.667s28.934-65.333 65.333-65.333 65.333 28.93 65.333 65.333S161.732 420 125.333 420z"></path>
                </svg>
            </label>
        <% } %>
        <!-- End Mapbox -->

        <!-- OSRM -->
        <% if(supports.includes('osrm/driving-traffic')) {%>
            <input
                id='osrm-directions-profile-driving-traffic'
                type='radio'
                name='profile'
                value='osrm/driving-traffic'
                <% if (profile === 'osrm/driving-traffic') { %>checked<% } %>
            />

            <label for="osrm-directions-profile-driving-traffic" style='font-size: 16px; height: 36px; text-align: center; display: flex; align-items: center; justify-content: center;'>
                <i class='fa fa-subway' aria-hidden='true' style='font-size: 16px; height: 36px; text-align: center; display: flex; align-items: center; justify-content: center;'></i>
            </label>
        <% } %>

        <% if(supports.includes('osrm/driving')) {%>
            <input
                id='osrm-directions-profile-driving'
                type='radio'
                name='profile'
                value='osrm/driving'
                <% if (profile === 'osrm/driving') { %>checked<% } %>
            />

            <label for='osrm-directions-profile-driving' style='font-size: 16px; height: 36px; text-align: center; display: flex; align-items: center; justify-content: center;'>
                <i class='fa fa-car' aria-hidden='true'></i>
            </label>
        <% } %>

        <% if(supports.includes('osrm/walking')) {%>
            <input
                id='osrm-directions-profile-walking'
                type='radio'
                name='profile'
                value='osrm/walking'
                <% if (profile === 'osrm/walking') { %>checked<% } %>
            />

            <label for='osrm-directions-profile-walking' style='height: 36px; text-align: center; display: flex; align-items: center; justify-content: center;'>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style='width: 22px; fill: #0071bc;'>
                    <path
                        d="M288 112c22.223 0 39.997-17.776 39.997-40 0-22.225-17.774-40-39.997-40s-40.003 17.775-40.003 40c0 22.224 17.78 40 40.003 40zM288 232h104v-40h-72l-44.802-69.333c-7.698-11.667-18.136-18.136-30.933-18.136-3.198 0-8.828.531-12.799 1.747L120 144v112h40v-80l40.531-16L120 480h40l56.698-164.271L267 384v96h38V352l-57.031-96 19.745-61.864L288 232z"></path>
                </svg>
            </label>
        <% } %>

        <% if(supports.includes('osrm/cycling')) {%>
            <input
                id='osrm-directions-profile-cycling'
                type='radio'
                name='profile'
                value='osrm/cycling'
                <% if (profile === 'osrm/cycling') { %>checked<% } %>
            />

            <label for='osrm-directions-profile-cycling' style='height: 36px; text-align: center; display: flex; align-items: center; justify-content: center;'>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style='width: 24px; fill: #0071bc;'>
                    <path
                        d="M330.666 131.202c18.668 0 33.598-14.935 33.598-33.601S349.334 64 330.666 64C312 64 297.07 78.935 297.07 97.601s14.93 33.601 33.596 33.601zm56 130.132c-51.332 0-93.332 42-93.332 93.333s42 93.333 93.332 93.333C438 448 480 406 480 354.667s-42-93.333-93.334-93.333zm0 158.666c-36.402 0-65.332-28.93-65.332-65.333s28.93-65.333 65.332-65.333c36.404 0 65.334 28.93 65.334 65.333S423.07 420 386.666 420zm-81.069-196H384v-32h-58.845l-34.62-60.134c-5.605-9.333-15.869-15.864-27.07-15.864-8.399 0-16.798 3.732-22.399 9.333L169.334 194.4c-5.601 5.601-9.333 14-9.333 22.399 0 12.131 9.202 21.465 18.535 27.065L240 282.134V368h32V256l-39.333-32 42.929-44.533L305.597 224zm-180.264 37.334C74 261.334 32 303.334 32 354.667S74 448 125.333 448s93.333-42 93.333-93.333-41.999-93.333-93.333-93.333zm0 158.666C88.934 420 60 391.07 60 354.667s28.934-65.333 65.333-65.333 65.333 28.93 65.333 65.333S161.732 420 125.333 420z"></path>
                </svg>
            </label>
        <% } %>
        <!-- End OSRM -->

        <!-- Graphhopper -->
        <% if(supports.includes('graphhopper/driving-traffic')) {%>
            <input
                id='graphhopper-directions-profile-driving-traffic'
                type='radio'
                name='profile'
                value='graphhopper/driving-traffic'
                <% if (profile === 'graphhopper/driving-traffic') { %>checked<% } %>
            />

            <label for="graphhopper-directions-profile-driving-traffic" style='font-size: 16px; height: 36px; text-align: center; display: flex; align-items: center; justify-content: center;'>
                <i class='fa fa-subway' aria-hidden='true' style='font-size: 16px; height: 36px; text-align: center; display: flex; align-items: center; justify-content: center;'></i>
            </label>
        <% } %>

        <% if(supports.includes('graphhopper/driving')) {%>
            <input
                id='graphhopper-directions-profile-driving'
                type='radio'
                name='profile'
                value='graphhopper/driving'
                <% if (profile === 'graphhopper/driving') { %>checked<% } %>
            />

            <label for='graphhopper-directions-profile-driving' style='font-size: 16px; height: 36px; text-align: center; display: flex; align-items: center; justify-content: center;'>
                <i class='fa fa-car' aria-hidden='true'></i>
            </label>
        <% } %>

        <% if(supports.includes('graphhopper/walking')) {%>
            <input
                id='graphhopper-directions-profile-walking'
                type='radio'
                name='profile'
                value='graphhopper/walking'
                <% if (profile === 'graphhopper/walking') { %>checked<% } %>
            />

            <label for='graphhopper-directions-profile-walking' style='height: 36px; text-align: center; display: flex; align-items: center; justify-content: center;'>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style='width: 22px; fill: #0071bc;'>
                    <path
                        d="M288 112c22.223 0 39.997-17.776 39.997-40 0-22.225-17.774-40-39.997-40s-40.003 17.775-40.003 40c0 22.224 17.78 40 40.003 40zM288 232h104v-40h-72l-44.802-69.333c-7.698-11.667-18.136-18.136-30.933-18.136-3.198 0-8.828.531-12.799 1.747L120 144v112h40v-80l40.531-16L120 480h40l56.698-164.271L267 384v96h38V352l-57.031-96 19.745-61.864L288 232z"></path>
                </svg>
            </label>
        <% } %>

        <% if(supports.includes('graphhopper/cycling')) {%>
            <input
                id='graphhopper-directions-profile-cycling'
                type='radio'
                name='profile'
                value='graphhopper/cycling'
                <% if (profile === 'graphhopper/cycling') { %>checked<% } %>
            />

            <label for='graphhopper-directions-profile-cycling' style='height: 36px; text-align: center; display: flex; align-items: center; justify-content: center;'>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style='width: 24px; fill: #0071bc;'>
                    <path
                        d="M330.666 131.202c18.668 0 33.598-14.935 33.598-33.601S349.334 64 330.666 64C312 64 297.07 78.935 297.07 97.601s14.93 33.601 33.596 33.601zm56 130.132c-51.332 0-93.332 42-93.332 93.333s42 93.333 93.332 93.333C438 448 480 406 480 354.667s-42-93.333-93.334-93.333zm0 158.666c-36.402 0-65.332-28.93-65.332-65.333s28.93-65.333 65.332-65.333c36.404 0 65.334 28.93 65.334 65.333S423.07 420 386.666 420zm-81.069-196H384v-32h-58.845l-34.62-60.134c-5.605-9.333-15.869-15.864-27.07-15.864-8.399 0-16.798 3.732-22.399 9.333L169.334 194.4c-5.601 5.601-9.333 14-9.333 22.399 0 12.131 9.202 21.465 18.535 27.065L240 282.134V368h32V256l-39.333-32 42.929-44.533L305.597 224zm-180.264 37.334C74 261.334 32 303.334 32 354.667S74 448 125.333 448s93.333-42 93.333-93.333-41.999-93.333-93.333-93.333zm0 158.666C88.934 420 60 391.07 60 354.667s28.934-65.333 65.333-65.333 65.333 28.93 65.333 65.333S161.732 420 125.333 420z"></path>
                </svg>
            </label>
        <% } %>
        <!-- End Graphhopper -->
    </div>
    <% } %>
</div>
