.wemap-direction {
    .mapboxgl-control-container {
        .hide {
            display: none;
        }

        // Search
        .pelias-ctrl.mapboxgl-ctrl {
            position: relative;
            z-index: 9;

            .pelias-ctrl-results {
                position: absolute;
                top: 60px;
            }
        }

        .pelias-ctrl .pelias-ctrl-input-wrapper {
            width: calc(100% - 84px);
        }

        .pelias-ctrl .pelias-ctrl-action-icon-directions {
            background-image: url("data:image/svg+xml,%3Csvg height='48' viewBox='0 0 58 58' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Shape' d='m30.41 1.58c-.7800749-.77544719-2.0399251-.77544719-2.82 0l-27 27c-.77544719.7800749-.77544719 2.0399251 0 2.82l27 27c.7800749.7754472 2.0399251.7754472 2.82 0l27-27c.7754472-.7800749.7754472-2.0399251 0-2.82zm14.06 21.82-9.47 7.1c-.3319819.2569943-.7891405.2792618-1.1445271.0557481-.3553867-.2235136-.533322-.6452112-.4454729-1.0557481l.59-3.5h-9c-.5522847 0-1 .4477153-1 1v15c0 .5522847-.4477153 1-1 1h-4c-.5522847 0-1-.4477153-1-1v-19c0-1.6568542 1.3431458-3 3-3h13l-.59-3.54c-.0878491-.4105369.0900862-.8322345.4454729-1.0557481.3553866-.2235137.8125452-.2012462 1.1445271.0557481l9.47 7.1c.1381703.0951762.2206905.2522217.2206905.42s-.0825202.3248238-.2206905.42z' transform='translate(0 -1)'/%3E%3C/svg%3E");
        }

        .pelias-ctrl-action-icon {
            &.pelias-ctrl-action-icon-close {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    cursor: pointer;
                }
            }

            &.pelias-ctrl-action-icon-directions {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .fa.fa-close {
            color: #000;
        }

        // Show hide direction
        //.pelias-ctrl-action-icon.pelias-ctrl-action-icon-directions {
        //    &.hide {
        //        display: none;
        //    }
        //}

        // Directions
        #direction-icon-close {
            position: absolute;
            width: 40px;
            height: 40px;
            top: 0;
            z-index: 999;
            right: -45px;
            background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cpath d='M31 28h-1.59l-.55-.55C30.82 25.18 32 22.23 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55V31l10 9.98L40.98 38 31 28zm-12 0c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z'/%3E%3C/svg%3E") no-repeat center;
            background-size: 26px;
            border-radius: 4px;

            -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 -1px 0 rgba(0, 0, 0, .02);
            box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 -1px 0 rgba(0, 0, 0, .02);

            &:hover {
                cursor: pointer;
            }
        }

        .mapboxgl-ctrl-directions.mapboxgl-ctrl {
            &.hide {
                display: none;
            }
        }

        // Input
        .mapboxgl-ctrl-directions {
            min-width: 356px;
            max-width: 356px;
        }

        // Instructions
        .mapbox-directions-instructions {
            overflow-x: hidden;
            outline-offset: -2px;
            overflow-y: hidden;

            &:hover {
                overflow-y: auto;
            }
        }

        .directions-control.directions-control-directions {
            border-radius: 7px;
        }

        .mapbox-directions-profile {
            justify-content: space-between;
            display: flex;

            label {
                max-width: 74px;

                &:hover {
                    background: #eee;
                    color: rgba(0, 0, 0, .75);
                }
            }
        }

        li.mapbox-directions-step {
            max-width: 295px;
        }
    }

    // Direction control: top-left
    .mapboxgl-ctrl-top-left {
        .directions-control.directions-control-instructions {
            position: relative;
            left: 10px;
            top: 10px;
        }
    }
}
