$tablet: 670px;
$mobile-large: 640px;
$mobile-medium: 600px;
$mobile-small: 479px;

.mapboxgl-ctrl-top-left {
    z-index: 9;
}

#wemap-results-search {
	z-index: 9;
}

.wemap-direction .mapboxgl-control-container .pelias-ctrl.mapboxgl-ctrl {
    z-index: 999;
}

.wedirection-activated {
    #wefilter-section {
        display: none;
    }
}

#wemap-place {
    @media screen and (max-width: $mobile-medium) {
        width: 300px;
        left: calc(50% - 170px);
        .wemap-image-place {
            display: none;
        }
    }
}

// Geocode
.pelias-ctrl-results .pelias-ctrl-results-list {
    @media screen and (max-width: $mobile-small) {
        max-height: calc(100vh - 150px);
        overflow-y: scroll;
    }
}

// Direction
.wemap-direction .mapboxgl-control-container {
    //@media screen and (max-width: $mobile-large) {
    //    .pelias-ctrl {
    //        min-width: 350px;
    //    }
    //
    //    .mapboxgl-ctrl-directions {
    //        min-width: 350px;
    //        max-width: 350px;
    //    }
    //
    //}

    @media screen and (max-width: $mobile-small) {
        .pelias-ctrl {
            min-width: calc(100vw - 30px);
        }

        .mapboxgl-ctrl-directions {
            min-width: calc(100vw - 85px);
            margin: 0;

            .directions-control-inputs {
                top: 20px;
                left: 20px;
            }
        }
    }

    @media screen and (max-width: 480px) {
        .mapboxgl-ctrl-top-left .directions-control.directions-control-instructions {
            top: 20px;
            left: 20px;
        }
    }

}

// ctrl-top-left
.wemap-direction .mapboxgl-ctrl-top-left .directions-control.directions-control-instructions {
    @media screen and (max-width: $tablet) {
        top: 0;
        left: 0;
    }
}


// wemap-results-items

.pelias-ctrl-results.pelias-ctrl-shadow {
    @media screen and (max-width: $mobile-small) {
        width: calc(100vw - 40px);
    }
}

#wemap-results-items {
    .results {
        @media screen and (max-width: $mobile-small) {
            width: calc(100vw - 40px);
        }
    }
}

// Detail

#wemap-detail-feature {
    @media screen and (max-width: $mobile-small) {
        width: calc(100vw - 40px);

        #wemap-close-detail-button {
            right: 20px;
            left: unset;
        }
    }
}

// Filter
@media screen and (max-width: $mobile-medium) {
    div#wefilter-button-section {
        //display: flex;
        //justify-content: space-around;
    }

    //#wefilter-section {
    //    position: relative;
    //    width: calc(100vw - 40px);
    //}

    //#wefilter-section #wefilter-container {
    //    width: 100%;
    //}

    //#wefilter-container .wefilter-button {
    //    width: 40px;
    //    height: 40px;
    //}
    //
    //#wefilter-container .wefilter-button-container {
    //    margin: 0;
    //}

    //.wefilter-button-container span {
    //    font-size: 13px;
    //}
}


@media screen and (max-width: $mobile-small) {
    #wefilter-section {
        position: relative;
        width: calc(100vw - 40px);
    }

    #wefilter-section #wefilter-container {
        width: 100%;
    }

    #wefilter-container .wefilter-button {
        width: 40px;
        height: 40px;
    }

    #wefilter-container .wefilter-button-container {
        margin: 0;
        padding: 10px 2px;
    }

    .wefilter-button-container span {
        font-size: 13px;
    }
}


// Slider
.tns-nav > .tns-nav-active {
    background: #999;
}

.tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}

.tns-nav {
    text-align: center;
}

.tns-nav > .tns-nav-active {
    background: #999;
}

.tns-controls [aria-controls] {
    font-size: 15px;
    margin: 0 5px;
    padding: 0 1em;
    height: 2.5em;
    color: #000;
    background: #66CCFF;
    border-radius: 3px;
    border: 0;
}

#wefilter-container {
    .tns-visually-hidden {
        display: none;
    }

    .wefilter-button {
        height: auto;
    }

    .wefilter-text {
        font-family: Roboto,Arial,sans-serif,inherit;
        font-size: 13px;
    }
}

#wefilter-control-container {
    position: relative;
    .wefilter-control {
        margin: unset;
    }
    div#wefilter-control-left {
        position: absolute;
        top: -60px;
        left: -20px;
    }
    div#wefilter-control-right {
        position: absolute;
        right: -20px;
        top: -60px;
    }
}
