#wemap-place {
    z-index: 9998;
    height: 72px;
    min-height: 10px;
    position: absolute;
    width: 384px;
    bottom: 20px;
    left: calc(50% - 192px);
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
}
.wemap-class-pl {
    display: flex;
}
.wemap-image-place {
    height: 64px;
    width: 96px;
    margin: 4px;
    position: relative;
    background-size: 96px 64px;
}
.wemap-add-place {
    padding: 8px;
    display: flex;
    flex-direction: column;
}
.wemap-image-direc img {
    margin-right: 5px;
    padding: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.wemap-image-direc img:hover {
    opacity: 1;
}
#wemap-placeclose {
    position: absolute;
    right: 5px;
    top: -1px;
    outline: none;
    border: none;
    padding-bottom: 5px;
    opacity: 0.54;
}

#wemap-placeclose:hover {
    font-weight: bold;
    opacity: 1;
    cursor: pointer;
}
#wemap-place>.wemap-placeicon {
    height: 64px;
    width: 96px;
    margin: 4px;
    position: absolute;
    background-size: 96px 64px;
    overflow: hidden;
}
.wemap-placename {
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif, inherit;
    max-width: 192px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    float: left;
    padding-bottom: 6px;
}
.wemap-placeadd {
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif, inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    float: left;
    max-width: 220px;
    padding-bottom: 6px;
}
.fa-times:before {
    content: "\f00d";
    color: black;
    opacity: 0.6;
    font-size: 14px;
}
.wemap-placelatlon {
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif, inherit;
    color: #999999;
    max-width: 192px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 7px;
}

.wemap-placelatlon:hover {
    color: blue;
}
.wemap-click-detail {
    display: flex;
    flex-direction: column;
    width: 192px;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
}

.wemap-click-detail a:hover, .wemap-click-detail a:focus {
    color: blue;
}
.wemap-marker-arrow {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background-color: #2999fd;
    transform: rotate(-45deg);
    margin: -36px 0 0 0;
}
.wemap-marker-arrow::after {
    content: '';
    width: 14px;
    height: 14px;
    margin: 8px 0 0 8px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
}
.wemap-background-color-red{
    background-color: red;
}

.wemap-image-direc {
    position: relative;
    #wemap-direction-icon {
        opacity: .7;
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 25px;
        top: 20px;
        background-image: url(../img/directions-icon.png);
        background-repeat: no-repeat;
        &:hover {
            opacity: 1;
        }
    }
}
