body {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.directions-control.directions-control-inputs {
  position: relative;
}
.wemap-search-button {
  position: absolute;
  right: -55px;
  top: 9px;
  border: 1px solid #eeeeef;
  border-radius: 4px;
  width: 42px;
  height: 42px;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cpath d='M31 28h-1.59l-.55-.55C30.82 25.18 32 22.23 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55V31l10 9.98L40.98 38 31 28zm-12 0c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z'/%3E%3C/svg%3E");
}

.wemap-search-button:hover {
  border: 1px solid #000000;
}

button {
  background: white;
}

.wemap-marker-arrow {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background-color: #2999fd;
  transform: rotate(-45deg);
  margin: -36px 0 0 0;
}

.wemap-marker-arrow::after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
}

.wemap-marker-pulse {
  background: #272626;
  border-radius: 50%;
  height: 9px;
  opacity: 0.15;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -4px 0 0 -7px;
  transform: rotateX(55deg);
  z-index: -2;
}

.wemap-marker-pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pelias-ctrl-pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #2999fd;
}

.fa-times:before {
  content: "\f00d";
  color: black;
  opacity: 0.8;
  font-size: 20px;
}
#wemap-detail-feature {
  display: none;
  z-index: 9999;
  background: white;
  position: absolute;
  top: 70px;
  left: 20px;
  bottom: 0;
  border-radius: 3px;
  width: 400px;
  box-shadow: 5px 10px 18px #999999;
  height: 86%;
  overflow: hidden;
  color: #4d4d4d;
  margin: 0;
  padding-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  &::-webkit-scrollbar {
    width: 0;
  }
}

#wemap-detail-feature div{
  /* line-height: 2; */
}

.wemap-detail-feature-heading {
  background-color: #0071bc;
  padding: 20px;
  color: #fff;
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 10px #b9b9b9;
}

#wemap-feature-img {
  background: url('../img/detail.jpg') no-repeat;
  background-position: center center;
  height: 200px;
  opacity: 90%;
}

#wemap-feature-name {
  color: white;
  font-size: 23px;
  justify-items: center;
}


#wemap-close-detail-button {
  font-size: 25px;
  margin: 3px;
  background-color: transparent;
  border: none;
  position: fixed;
  color: white;
  top: 70px;
  left: 380px;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}

.wemap-feature-control {
  color: #4d4d4d;
  display: inline-block;
  border: black;
  width: 32%;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  padding: 20px 0 20px 0;
  user-select: none;
}

.wemap-feature-control span:hover {
  cursor: pointer;
  color: #0071bc;
}

.wemap-feature-control i {
  font-size: 20px;
  padding-right: 10px;
}

.wemap-feature-type {
  font-size: 15px;
  padding-top: 10px;
}

.wemap-detail-feature-body {
  /* border-top: solid 1px lightgray; */
  /* border-bottom: solid 1px lightgray; */
  padding: 10px 0 10px 0px;
  color: #4d4d4d;
  line-height: 2;
}

.wemap-border-top{
  border-top: solid 1px lightgray;
  padding: 10px 0 10px 20px;
}

.wemap-detail-feature-element {
  display: block;
  padding: 0px 10px 10px 15px;
}

a {
  color: #4d4d4d;
  /* text-decoration: none; */
}

a:hover {
  color: #0071bc;
}

a:visited {
  opacity: 90%;
  color: #4d4d4d;
}

i {
  color: #0071bc;
}

.fa-close {
  color: #fcfcfc;
  font-size: 25px;
}

.fa-close:hover {
  opacity: 80%;
}

.wemap-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fcfcfc;
}

.wemap-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #fcfcfc;
}

.wemap-scrollbar::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #b9b9b9;
}

// .scrollbar::-webkit-scrollbar {
//   display: none;
// }


#wemap-results-items{
  display: none;
}

.wemap-information-feature{
  border-top: 1px solid lightgray;
  padding-top: 15px;
}

//pelias-geocoder.css
.pelias-ctrl{
  min-width: 410px;
  z-index: 2147483647;
  pointer-events: none;
  margin: 0;
  padding: 10px 0 0 10px;
}
// pelias-geocoder.css
.pelias-ctrl-attribution{
    display: none;
}

.mapboxgl-control-container {
    .pelias-ctrl-results.pelias-ctrl-shadow {
        max-width: 400px;
    }
}
// result search
/* css result-search */

#wemap-results-list p.wemap-no-result{
    color: black;
    display: none;
}
#wemap-icon-cross-noresult {
    float: right;
    cursor: pointer;
    display: none;
}

#wemap-results-search {
  position: relative;
  div#wemap-results-items {
  display: none;
  position: absolute;
  top: 65px;
  left: 20px;
  height: calc(100vh - 90px);
  overflow-y: auto;
  background: #fff;

  &::-webkit-scrollbar {
    width: 0;
  }
  }

  section.results {
    position: unset;
    left: 0;
    top: 0;
    bottom: 0;
    margin-left: unset;
    margin-top: unset;
    margin-bottom: unset;
  }

  #wemap-results-list {
    -webkit-box-shadow: 0;
    box-shadow: none;
  }
}

.viewPopup{
  display: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: 300px;
  font-size: 12;
  bottom: 35px;
  right: -416%;
  border: 1px solid #c5bebe;
  .popupname{
    font-weight: bold;
  }
}

