#wemap-ctrl-filter {
    pointer-events: auto;

    margin: 10px;
}

.wemap-ctrl-filter-button {
    background: black;
    color: white;
    padding: 5px 10px;
}

.wemap-ctrl-filter-button {
    background: black;
    color: white;
    padding: 5px 10px;
}